.main {
    width: fit-content;
    height: fit-content;
    background: #ffffff9c;
    padding: 5px;
    transition: .5s;
    box-shadow: 0 8px 32px 0 rgba(255,214,255,0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

div {
        width: fit-content;

img {
            border-radius: 10px;
            object-fit: cover;
        }
    }
}